<!DOCTYPE html>

<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="ThemeStarz">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<link href="../static/fonts/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="../static/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <title>Home</title>
	<style>
		body { background-color: #f3f3f3; }
	</style>
	<script>
		var colors = ['255,103,103', '97,223,255', '255,232,88', '141,255,139'];
	</script>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <!-- First, include the Webcam.js JavaScript Library -->
    <script type="text/javascript" src="../static/js/webcam.min.js"></script>
    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript" src="../static/js/snap.js"></script>

</head>

<body>
<div class="page-wrapper">
<header>
	<div class="brand animate"><a href=""><img src="../static/image/logo.png" alt=""></a></div>
	<nav>
		<ul class="navigation animate">
			<li><a href="" data-toggle="modal" data-target="#modal-about-us">About Us</a></li>
			<li><a href="" data-toggle="modal" data-target="#modal-our-works">EmoBot</a></li>
			<li><a href="" data-toggle="modal" data-target="#modal-services">Videos</a></li>
			<li><a href="" data-toggle="modal" data-target="#modal-contact-us">Contact</a></li>
		</ul>
		<!--end navigation-->
	</nav>
</header>
<div class="content-wrapper">

	<div class="content-main animate">
		<div class="container">
			<h1 class="font-size-90">Get Ready!</h1>
			<h2 class="opacity-60">Something Awesome is Coming Soon</h2>
		</div>
		<!--end container-->
	</div>
	<!--end content-main-->
	<div class="background-wrapper">
		<canvas id="background-content"></canvas>
	</div>
	<!--end background-wrapper-->
</div>
<!--end content-wrapper-->
<footer>
	<div class="social-icons animate">
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-youtube"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-pinterest"></i></a>
		<a href="#"><i class="fa fa-google-plus"></i></a>
	</div>
	<!--end social-icons-->
</footer>
</div>
<!--end page-wrapper-->

<!-- Modal About Us -->
<div class="modal fade" id="modal-about-us" tabindex="-1" role="dialog" aria-labelledby="modal-about-us-label">
<div class="modal-dialog" role="document">
	<div class="container">
		<div class="modal-content">
			<div class="modal-header" data-background-color="#61dfff">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title" id="modal-about-us-label">About EmoBot</h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<section>
							<h3>Our Team</h3>
							<div class="row">
								<img src="../static/image/us.jpg">
							</div>
							<!--end row-->
						</section>
					</div>
					<!--end col-md-4-->
					<div class="col-md-7 col-sm-7">
						<section>
							<h3>Shortly About EmoBot</h3>
							<p> EmoBot is a smart robot that can recognize your emotion and give responses. You can try
                                to snap a photo in "EmoBot" and upload it to EmoBot. It can recognize your face!
							</p>
							<p>
								We are still trying to improve EmoBot's accuracy! Thanks for your support!
							</p>
						</section>
						<section>
							<h3>Our Skills</h3>
							<div class="skill">
								<h4>Eating</h4>
								<aside>99%</aside>
								<figure class="bar">
									<div class="bar-active width-80"></div>
									<div class="bar-background"></div>
								</figure>
							</div>
							<!--end skill-->
							<div class="skill">
								<h4>Sleeping</h4>
								<aside>99%</aside>
								<figure class="bar">
									<div class="bar-active width-100"></div>
									<div class="bar-background"></div>
								</figure>
							</div>
							<!--end skill-->
							<div class="skill">
								<h4>Coding</h4>
								<aside>99%</aside>
								<figure class="bar">
									<div class="bar-active width-60"></div>
									<div class="bar-background"></div>
								</figure>
							</div>
							<!--end skill-->
						</section>
					</div>
					<!--end col-md-7-->
				</div>
				<!--end row-->
			</div>
			<!--end modal-body-->
		</div>
		<!--end modal-content-->
	</div>
	<!--end container-->
</div>
<!--end modal-dialog-->
</div>
<!--end #modal-about-us-->



<!-- Modal EmoBot -->
<div class="modal fade" id="modal-our-works" tabindex="-1" role="dialog" aria-labelledby="modal-our-works-label">
    <div class="modal-dialog" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header" data-background-color="#ffe858">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title" id="modal-our-works-label">EmoBot</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1 col-sm-1">
                                <div align="center">
                                    <div id="my_camera"></div>
                                </div>
                        </div>
                        <div class="col-md-5 col-sm-1">
                            <div>
                                <input type="button" onclick="snap()" value="Snap">
                                <!-- A button for taking snaps -->
                                <form method="POST" enctype="multipart/form-data" id="myForm" name = "myForm" target="framFile">
                                    <input type="submit" value="Upload" onclick="upload()">
                                </form>
                                <div id="my_camera"></div>
                                <div id="results"><p>Your captured images will appear here...</p></div>
                                <p></p>
                                <div id = 'Result'></div>
{#                                <img src="../static/image">#}
                                <iframe id="framFile" name="framFile" style="display:none;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal Services -->
<div class="modal fade" id="modal-services" tabindex="-1" role="dialog" aria-labelledby="modal-services-label">
<div class="modal-dialog" role="document">
	<div class="container">
		<div class="modal-content">
			<div class="modal-header" data-background-color="#ff6767">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title" id="modal-services-label">Videos</h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="box">
							<div class="icon">
								<img src="../static/image/camera.png" alt="">
							</div>
							<h3>Photography</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
						</div>
						<!--end box-->
					</div>
					<!--end col-md-4-->
					<div class="col-md-4 col-sm-4">
						<div class="box">
							<div class="icon">
								<img src="../static/image/computer.png" alt="">
							</div>
							<h3>Webdesign</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
						</div>
						<!--end box-->
					</div>
					<!--end col-md-4-->
					<div class="col-md-4 col-sm-4">
						<div class="box">
							<div class="icon">
								<img src="../static/image/compose.png" alt="">
							</div>
							<h3>Copywriting</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
						</div>
						<!--end box-->
					</div>
					<!--end col-md-4-->
					<div class="col-md-4 col-sm-4">
						<div class="box">
							<div class="icon">
								<img src="../static/image/cloud.png" alt="">
							</div>
							<h3>Cloud Servers</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
						</div>
						<!--end box-->
					</div>
					<!--end col-md-4-->
					<div class="col-md-4 col-sm-4">
						<div class="box">
							<div class="icon">
								<img src="../static/image/mail.png" alt="">
							</div>
							<h3>Email Campaigns</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
						</div>
						<!--end box-->
					</div>
					<!--end col-md-4-->
					<div class="col-md-4 col-sm-4">
						<div class="box">
							<div class="icon">
								<img src="../static/image/magnifyingglass.png" alt="">
							</div>
							<h3>SEO Optimization</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sed tellus ut condimentum</p>
						</div>
						<!--end box-->
					</div>
					<!--end col-md-4-->
				</div>
			</div>
			<!--end modal-body-->
		</div>
		<!--end modal-content-->
	</div>
	<!--end container-->
</div>
<!--end modal-dialog-->
</div>
<!--end #modal-services-->

<!-- Modal Contact Us -->
<div class="modal fade" id="modal-contact-us" tabindex="-1" role="dialog" aria-labelledby="modal-contact-us-label">
<div class="modal-dialog" role="document">
	<div class="container">
		<div class="modal-content">
			<div class="modal-header" data-background-color="#8dff8b">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title" id="modal-contact-us-label">Contact Us</h2>
			</div>
			<div id="map"></div>
			<div class="modal-body">
				<section>
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<h3>Address</h3>
							<address>
								National University of Singapore<br>
								2018 SoC Summer Workshop<br>
								119077<br>
							</address>
						</div>
						<!--end col-md-3-->
{#						<div class="col-md-3 col-sm-3">#}
{#							<h3>Social</h3>#}
{#							<figure><a href="" class="icon"><i class="fa fa-facebook"></i>Facebook</a></figure>#}
{#							<figure><a href="" class="icon"><i class="fa fa-twitter"></i>Twitter</a></figure>#}
{#							<figure><a href="" class="icon"><i class="fa fa-youtube"></i>Youtube</a></figure>#}
{#							<figure><a href="" class="icon"><i class="fa fa-pinterest"></i>Pinterest</a></figure>#}
{#						</div>#}
						<!--end col-md-3-->
						<div class="col-md-6 col-sm-6">
							<h3>University</h3>
                            <address>
								Lin Zhengyi, Zhang Nan<br>
                                <img src="../static/image/SUSTClogo.png"><br>
								Wei Haoyu<br>
								<img src="../static/image/SCUlogo.png"><br>
							</address>
{#							<form id="form-contact" method="post" class="form clearfix inputs-underline">#}
{#								<div class="row">#}
{#									<div class="col-md-6 col-sm-6">#}
{#										<div class="form-group">#}
{#											<input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Your Name" required>#}
{#										</div>#}
{#										<!--end form-group -->#}
{#									</div>#}
{#									<!--end col-md-6 col-sm-6 -->#}
{#									<div class="col-md-6 col-sm-6">#}
{#										<div class="form-group">#}
{#											<input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Your Email" required>#}
{#										</div>#}
{#										<!--end form-group -->#}
{#									</div>#}
{#									<!--end col-md-6 col-sm-6 -->#}
{#								</div>#}
{#								<!--end row -->#}
{#								<div class="row">#}
{#									<div class="col-md-12">#}
{#										<div class="form-group">#}
{#											<textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Your Message" required></textarea>#}
{#										</div>#}
{#										<!--end form-group -->#}
{#									</div>#}
{#									<!--end col-md-12 -->#}
{#								</div>#}
{#								<!--end row -->#}
{#								<div class="form-group clearfix">#}
{#									<button type="submit" class="btn pull-right btn-default btn-framed btn-rounded" id="form-contact-submit">Send a Message</button>#}
{#								</div>#}
{#								<!--end form-group -->#}
{#								<div class="form-contact-status"></div>#}
{#							</form>#}
{#							<!--end form-contact -->#}
						</div>
						<!--end col-md-6-->
					</div>
				</section>
			</div>
			<!--end modal-body-->
		</div>
		<!--end modal-content-->
	</div>
	<!--end container-->
</div>
<!--end modal-dialog-->
</div>
<!--end #modal-contact-us-->

<script  src="../static/js/jquery-2.2.1.min.js"></script>
<script  src="http://ditu.google.cn/maps/api/js"></script>
<script  src="../static/bootstrap/bootstrap.min.js"></script>
<script  src="../static/js/jquery.validate.min.js"></script>
<script  src="../static/js/jquery.magnific-popup.min.js"></script>
<script  src="../static/js/TweenLite.min.js"></script>
<script  src="../static/js/EasePack.min.js"></script>
<script  src="../static/js/exploding-triangles.js"></script>
<script  src="../static/js/custom.js"></script>

<script>

var latitude = 34.038405;
var longitude = -117.946944;
var markerImage = "assets/img/map-marker.png";
var mapTheme = "light";
var mapElement = "map";

$(".modal").on("shown.bs.modal", function (e) {
	google.maps.event.addDomListener(window, 'load', simpleMap(latitude, longitude, markerImage, mapTheme, mapElement));
});

</script>

</body>

